*.exe
*.dll
*.dwo
*.do
*.o
*.obj
*.so
*.dylib
*.dSYM
*.jl.cov
*.jl.*.cov
*.jl.mem
*.mem
*.info
*.ji
*.ipynb_checkpoints

*.pdf
*.svg
*.tmp

.DS_Store

docs/build/
Manifest.toml
test/data/
readpti.jl
local/
coverage/
